<div class="admin_menu">
	<ul>
		<li><a href="{{ path('poke_admin_add_pokemon') }}">Ajouter un pokemon</a></li>
		<li><a href="{{ path('poke_admin_show_pokemon', {'gen': 1}) }}">Voir le Pokedex</a></li>
		<li><a href="{{ path('poke_admin_show_users') }}">Voir les utilisateurs</a></li>
	</ul>
</div>