{% extends 'PokeBundle::layout.html.twig' %}

{% block title %}
Voir shasseur:
{% endblock %}

{% block content %}
	<div class="container_content">
		<div class="bloc_header">
			<h2>Shasseur: {{ hunter.username }}</h2>
		</div>
	</div>

{% endblock %}
