.title_admin{
	width:100%;
}
.container_admin{
	width:100%;
	display: flex;
}
.admin_menu{
	padding: 20px;
	background-color: #F2F2F2;
	border: 1px solid #BDBDBD;
	width:20%;
}
.admin_menu	ul> li > a{
	color: #AA7853;
}
.last_register{
	padding: 20px;
	width:80%;
}
.admin_bloc_container{
	padding: 20px;
	width:80%;
	border: 1px solid #BDBDBD;
}

.admin_menu_gen{
	width:100%;
	color:#DBA43E;
}

.admin_menu_gen ul{
	display: flex;
	justify-content:space-around;
	text-transform: uppercase;
}
.admin_menu_gen ul li a{
	color: #AA7853;
}
.admin_bloc_content{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	margin-top: 20px;
}
.admin_bloc_content > form{
	border: 1px solid black;
	width: 75%;
	padding: 50px;
	text-transform: uppercase;
}

.admin_form_input{
	margin: 0 0 0 10px;
}
.admin_form_content > label, .admin_form_content > label {
	margin: 0 0 0 10px;
}
.input_align{
	display: flex;
	justify-content: left;
}
.input_align label{
	margin: 10px;
}
.input_align div{
	margin: 10px;
}
.input_checkbox div{
	display: flex;
	flex-wrap: wrap;
}
.input_checkbox div input{
	height: 34px;
	font-size: 18px;
	width: 3%;
}
label{
	line-height: 40px;
	color: #333333;
}
textarea{
    width: 100%;
    height: 150px;
}
.admin_bloc_pokemon{
	text-align: center;
	padding: 10px;
	border: 1px solid #AA7853;
	margin: 10px 20px;
	max-width: 250px;
	border-radius: 10px;
}
.admin_bloc_pokemon > h2{
	color:#AA7853;
}
.admin_bloc_pokemon > div{
	width:100%;
	display: flex;
	margin-top:20px;
	text-transform: uppercase;
}

.admin_bloc_pokemon > div{
	width:100%;
	display: flex;
}

.admin_bloc_pokemon > div > a > button{
	border: 1px solid grey;
}

.admin_pokemon_show{
	width:100%;
	padding: 20px;
	display:flex;
	border: 1px solid #AA7853;
}

.admin_pokemon_show_img{
	margin:15px;
	text-align:center;
	border: 1px solid #AA7853;
	padding: 5px 15px;
}

.admin_pokemon_show_description{
	margin:15px;
	text-align:center;
	width:100%;
}
.admin_pokemon_show_description > h2{
	height: 30%;
	font-size: 34px;
}

th{
	background-color: #A4A4A4;
	border: 1px solid #6E6E6E;
}
td, tr{
	border: 1px solid #6E6E6E;
}
.admin_bloc_pokemon > img {
	max-width: 150px;
}

