{% extends 'PokeBundle::layout.html.twig' %}

{% block title %}
Ajouter shiny : Test !
{% endblock %}

{% block content %}

	<h1>Ajouter un shiny !</h1>
	<div class="container_content">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}

	</div>

{% endblock %}
